@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-primary-1: hsla(0, 100%, 67%, 0.05);
  --color-primary-2: hsla(39, 100%, 56%, 0.05);
  --color-primary-3: hsla(166, 100%, 37%, 0.05);
  --color-primary-4: hsla(234, 85%, 45%, 0.05);
  --color-gradient-1: hsl(252, 100%, 67%);
  --color-gradient-2: hsl(241, 81%, 54%);
  --color-gradient-3: hsla(256, 72%, 46%, 1);
  --color-gradient-4: hsla(241, 72%, 46%, 0);
  --color-neutral-1: hsl(0, 0%, 100%);
  --color-neutral-2: hsl(221, 100%, 96%);
  --color-neutral-3: hsl(241, 100%, 89%);
  --color-neutral-4: hsl(224, 30%, 27%);
  --fs-body: 18px;
  --ff-body: 'Hanken Grotesk';
  --fw-light: 500;
  --fw-medium: 700;
  --fw-bold: 800;
  --fc-primary-1: hsl(0, 100%, 67%);
  --fc-primary-2: hsl(39, 100%, 56%);
  --fc-primary-3: hsl(166, 100%, 37%);
  --fc-primary-4: hsl(234, 85%, 45%);
}

*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img, video, picture, svg {
  max-width: 100%;
  display: block;
}


body {
  font-family: var(--ff-body);
  min-height: 100dvh;
  background-color: var(--color-neutral-1);
  display: grid;
  place-content: center;
}